.modal {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 9px #00000029;
    top: 50%;
    left: 50%;
    position: absolute;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    padding: 1rem;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
.modal-header h2{
    margin: 0px;
  }
  .input-wrap{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 10px;
  }
  .farmer-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .farmer-detail input{
    height: 32px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-top: 5px;
  }
  .modal-header button{
    background: transparent;
    border: none;
    font-size: 22px;
  }
  .submitbtn-wrap{
    display: flex;
    justify-content: end;
    width: 100%;
    
  }
  .btn-wrap{
    display: flex;
    justify-content: end;
  }